<?xml version="1.0"?>
<configuration>
  <system.web>
    
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.aspx" />
    <httpRuntime executionTimeout="999" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <sessionState timeout="999"/>
    <urlMappings>
      <add url="~/Default.aspx" mappedUrl="~/Default.aspx"/>
    </urlMappings>
    
    <compilation debug="true"/>
    
  </system.web>
  <appSettings>
    
    <add key="IranZehnDB" value="Data Source=.\sql2016;Initial Catalog=IranZehn;Integrated Security=True"/>
    <add key="Log.Database" value="Data Source=.\sql2016;Initial Catalog=Admin;Integrated Security=True"/>
    
    <add key="Log.Email.SMTP.Server" value=""/>
    <add key="Log.Email.SMTP.Port" value="0"/>
    <add key="Log.Email.SMTP.Username" value=""/>
    <add key="Log.Email.SMTP.Password" value=""/>
    <add key="Log.Email.Sender" value=""/>
    <add key="Log.Email.Recipient" value=""/>
    
    <add key="Log.File.Filename" value="iranzehn.log"/>
    
  </appSettings>
</configuration>